<!doctype html>
<html ng-app="validateInputApp" ng-controller="mainCtrl">

<head>
    <meta charset="utf-8">
    <title>Angular Input Validate</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="css/input.css">
    <link rel="stylesheet" href="bower_components\bootstrap\dist\css\bootstrap.css">
    <!-- endbuild -->
</head>

<body>
    <form name="form">
        <div class="container-fluid">
            <div class="col-xs-4">
                <input-validate ng-model="yes" name="nx" type="number" label="222" validations="validations" >
            </div>
            <input type="submit" name="">
            
            <div class="col-xs-12">
                <pre>{{form | json}}</pre>
            </div>
        </div>
    </form>
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-ui-validate/dist/validate.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <!-- endbuild -->
    <script src="scripts/app.js"></script>
    <script src="scripts/app.ctrl.js"></script>
    <script src="scripts/input-validate/input-validate.js"></script>
</body>

</html>
